.productListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 20px 0;
}

@media (max-width: 768px) {
  .productListContainer {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}