.productCardContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  height: 400px;
}

.productCardImage {
  width: 250px;
  height: auto;
  border-radius: 10px 0 0 10px;
  object-fit: cover;
}

.productCardImageSkeleton {
  width: 250px;
  height: 250px;
  border-radius: 10px 0 0 10px;
  background-color: grey;
}

.productCardInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1 1 0;
  padding: 6px 20px;
  background-color: white;
  border-radius: 0 10px 10px 0;
}

.productName {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.productBoard {
  margin-top: 0;
  font-style: italic;
  color: black;
}

.dateWrapper {
  display: flex;
  flex-direction: column;
}

.dateText {
  margin: 0;
  color: black
}

.priceType {
  color: black;
  margin-bottom: 0;
}

.productPrice {
  font-size: 18px;
  margin-top: 0;
  color: black;
  font-weight: bold;
}

@media (max-width: 768px) {
  .productCardImage {
    width: 200px;
  }

  .productName {
    font-size: 20px;
  }
}