.productCardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* box-sizing: border-box; */
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.08); */
  /* height: 450px; */
  /* max-width: 600px; */
}

.productCardImageContainer {
  min-width: 500px;
  min-height: 200px;
  max-height: 200px;
}

.productCardImage {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.productCardInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1 1 0;
  padding: 6px 20px;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.productCardName {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.productCardDestinations {
  margin-top: 0;
  color: black;
}

.productCardMeals {
  color: black;
}

.accommodationSummary {
  color: black;
}

.productCardBoard {
  margin-top: 0;
  font-style: italic;
  color: black;
}

.productCardFooter {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.productCardPriceContainer {
  display: flex;
  flex-direction: column;
}

.productCardDateText {
  margin: 0;
  color: black
}

.productCardPriceWrapper {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.productCardPrice {
  font-size: 20px;
  margin: 0;
  color: black;
  font-weight: bold;
}

.productCardWasPrice {
  font-size: 16px;
  margin: 0;
  color: black;
  font-weight: bold;
  text-decoration: line-through;
}

.productCardButton {
  padding: 10px;
  border-radius: 5px;
  background-color: #1db4e7;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  &:hover {
    background-color: #127798;
    cursor: pointer;
  }
}

.productCardImageSkeleton {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  background-color: grey;
}

.productCardInfoSkeleton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1 1 0;
  padding: 6px 20px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  min-height: 182px;
}

@media (max-width: 768px) {
  .productName {
    font-size: 20px;
  }
}