.facetContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  padding: 20px 0;
  background: #1db4e7;
  border-bottom: 4px solid #ffffff29;
}

.facetWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.facetLabel {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.facetSelect {
  border-radius: 40px;
  padding: 15px;
  width: 220px;
  border: none;
  font-size: 16px;
  &:hover {
    cursor: pointer;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  gap: 5px;
}

.productCount {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-right: 20px;
}

@media (max-width: 960px) {
  .facetContainer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: unset;
  }

  .productCount {
    margin-top: 20px;
  }

  .facetSelect {
    width: 190px;
    padding: 10px;
    font-size: 14px;
  }
}