.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.headerHeading {
  font-size: 60px;
  margin: 20px 0;
  color: #ffffff;
}

@media (max-width: 1090px) {
  .headerContainer {
    flex-direction: column;
  }

  .headerHeading {
    margin-bottom: 0;
  }
}